.edit-profile__form{
    background-color: $block;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    .profile__avatar{
        display: block;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 50%;
        width:100%;
        max-width: 100px;
    }
    .avatar__update{
        padding: 15px 20px;
        border-radius: 5px;
        border: solid;
        border-color: rgba($color:black, $alpha: 0.1);
        margin: 0 auto;
        margin-top:5px;
        margin-bottom: 5px;
    }
    .other__update{
    }
}


.edit-profile__password{
    margin-top:50px;
    text-align: center;
    a{
        text-decoration: underline;
    }
}
