.profile__data{
    background-color: $block;
    padding: 20px;
    border: solid;
    border-color: $font;
    border-radius: 20px;
    max-width: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    img{
        margin-bottom:10px;
        border-radius: 50%;
        width:100%;
    }
    h3{
        font-size:18px;
    }
}

.basicUserIcon{
    margin:10px;
}

