.record__container{
    max-width: 600px;
    margin: 0 auto;
    background-color: $block;
    padding: 20px;
    border-radius: 10px;
    .record__title{
        width:100%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        span{
            font-size:30px;
            font-weight: 700;
        }
    }
    margin: 0 auto;
    .record__video{
        margin: 0 auto;
        video{
            width:100%;
        }
        button{
            display: flex;
            align-items: center;
            margin:auto;
            margin-top:20px;
            background-color: white;
            border:none;
            color: red;
            font-size: 20px;
            font-weight: 700;
            padding: 15px 30px;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}