.watch__block{
    background-color: $block;
    padding: 10px;
    border-radius: 10px;
}

.video__title__box{
    margin-top: 10px;
    height: 50px;
    display: flex;
    .video__title{
        margin: auto 0;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 28px;
        font-weight: 700;
    }
    .edit__video{
        margin: auto 0;
        margin-left: 10px;
        margin-right: 10px;
        font-size:20px;
    }
    .delete__video{
        margin: auto 0;
        margin-left: 10px;
        margin-right:10px;
        font-size:20px;
    }

}

.show__info{
    margin: auto 0;
    margin-left: 10px;
    opacity: 0.8;
    &:hover{
        cursor: pointer;
    }
}


#videoInfo{
    // display: none;
    margin-top:5px;
    margin-left: 10px;
    .uploaded{
        margin-top:10px;
        margin-bottom: 10px;
        a{
            font-size: 17px;
            font-weight: 700;
            color:$writing;
        }
    }
    .view__date{
        display: flex;
        flex-direction: row;
        margin-top:10px;
        margin-bottom: 10px;
        gap:20px;
        .views{
            font-weight: 700;
        }
        .createdAt{
            font-weight: 700;
        }    
    }
    .description{
        
    }
    
}




.comment__tap{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.video__commentitle{
    height: 20px;
    padding: 5px;
    margin:auto 0;
    margin-left: 20px;
    color:$font;
    font-weight: 700;
    border-radius: 5px;
}

.video__add-comments{
    margin: 0 auto;
    text-align: right;
    width: 100%;
    .video__comment-form{
        margin: 10px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        textarea{
            flex:8;
            resize: none;
            border: solid;
            border-color: $font;
            border-radius: 5px;
        }
        .comment__button{
            flex:1;
            background-color: $font;
            color:white;
            font-size: 600;
            font-weight: 700;
            padding: 5px;
            border:none;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.video__comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $block;
    border-radius: 10px;
    
    .video__comment{
        display: flex;
        margin: 0 auto;
        padding: 5px;
        border-radius: 5px;
        color:$font;
        background-color: $bg;
        font-size: 18px;
        width: 95%;
        margin-bottom: 10px;
        .comment__user-info{
            flex:1;
            img{
                max-width: 30px;
                border-radius: 10px;
            }
            span{
                position:absolute;
                margin-left:5px;
                margin-top:5px;
                color:$writing;
            }
        }
        .comment__content{
            flex:4;
            display: flex;
            justify-content: space-between;
            span{
                margin-top:5px;
            }
            
        }

    }
}

.delete__comment:hover{
    cursor: pointer;
}
#deleteNewBtn:hover{
    cursor:pointer;
}

.hidden{
    display: none;
}