.comment__tap{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.video__commentitle{
    height: 20px;
    padding: 10px;
    margin: 15px;
    background-color: white;
    color:black;
    border-radius: 5px;
}

.video__add-comments{
    margin: 0 auto;
    text-align: right;
    .video__comment-form{
        margin: 10px;
        height: 50px;
        display: flex;
        flex-direction: row;
        textarea{
            width: 700px;

            resize: none;
            border-radius: 5px;
        }
        .comment__button{
            background-color: black;
            color:white;
            padding: 5px;
            border: solid;
            border-radius: 5px;
        }
    }
}

.video__comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    
    .video__comment{
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        color:black;
        margin-bottom: 10px;
        .delete__comment{
            text-align: right;
        }
    }
}

.delete__comment:hover{
    cursor: pointer;
}
#deleteNewBtn:hover{
    cursor:pointer;
}