include mixins/message

doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        script(src="https://kit.fontawesome.com/fda0fdd897.js" crossorigin="anonymous")
        link(rel="stylesheet", href="/assets/css/styles.css")
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    body
        if messages.error 
            +message("error", messages.error)
        include partials/header     
        main.main__frame
            block content
        include partials/footer
    script(src="/assets/js/main.js")
    
    block scripts