extends base.pug

block content
    div.record__container
        .record__title 
            span Make your video now! 
            br
            br
            small It's only saved to your computer
        div.record__video 
            video#preview
            button#actionBtn REC

block scripts 
    script(src="/assets/js/recorder.js")