extends base.pug

block content
    div.record__container
        .record__title 
            span Make your video now! 
        div.record__video 
            video#preview
            button#actionBtn Start recording

block scripts 
    script(src="/assets/js/recorder.js")