extends ../base
include ../mixins/video

block content 
    .profile__data
        if user.avatarUrl
            if loggedInUser.socialOnly 
                img(src=user.avatarUrl)
            else 
                img(src=user.avatarUrl).header__avatar
        else 
            i.fas.fa-user.basicUserIcon
        h3=user.name
    div.video-grid
        each video in videos
            +video(video)
        else 
            span.empty__message No videos found